.header {
  min-height: 1000px;
  background: linear-gradient(
      165deg,
      rgba(0, 0, 0, 0.55) 0%,
      rgba(0, 0, 0, 0.95) 100%
    ),
    url("../images/header-background.jpg") center center no-repeat;
  background-size: cover;
}

.navbar {
  backdrop-filter: blur(5px);
  background: rgba(33, 37, 41, 0.7);
  border-bottom: 1px solid rgb(42, 48, 53);
}

.invitation-bg {
  background: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('../images/invitation-background.jpg') center center no-repeat;
  background-size: cover;
}

@media (max-width: 992px) {
  .navbar {
    background: var(--bs-dark);
  }

  .header {
    height: 80vh !important;
    min-height: 80vh !important;
  }

.header .text-container {
  width: 100% !important;
  margin: 0 auto;
}

  .register h2 {
    text-align: center;
  }

  .register {
    padding: 10px !important;
    padding-top: 100px !important;
  }

  .summary {
  margin-top: 0 !important;
    width: 90% !important;
  }

}

.header .slide {
  width: 90%;
  margin: 0 auto;
}
